.videoCard {
    width: 19%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 250ms ease-in;
    border-radius: 8px;
    overflow: hidden;
}

.videoCard:hover {
    transform: scale(1.01);
    cursor: pointer;
}

.thumnail {
    width:100%;
    height: 65%;
    object-fit: cover;
}

.detail {
    width:100%;
    height: 35%;
    background-color: var(--color-bg);
    display: flex;
}

.logo {
    width: 50px;
    height: 50px;
    background-color: aquamarine;
    border-radius: 100%;
    margin: 0.5rem;
}

.title {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-family: var(--text-main);
    font-weight: bold;
    color: var(--color-text);
    word-break: break-all;
    max-width: 270px;
    font-size: 0.9rem;
    text-overflow: ellipsis;
    overflow: hidden;
}

.channel, .viewHour {
    font-weight: light;
    font-size: 0.9rem;
    word-break: break-all;
    max-width: 270px;
    color: var(--color-text);
}
