.container {
    display: flex;
    justify-content: center;
}

h1 {
    color: white;
    margin:0.3rem;
}

.videoContainer {
    background-color: skyblue;
    width:1300px;
    padding: 1rem;
}

iframe {
    width: 100%;
    height: 650px;
}

.detailContainer {
    width: 100%;
    height: 50px;
    background-color: bisque;
    display:flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.channelContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.channelLogo {
    width: 45px;   
    height: 45px;
    border-radius: 100%;
    background-color: aqua;
}

.channelTitle {
    font-weight: bold;
}
.channelSubscriber {
    font-weight: lighter;
    font-size: 0.8rem;
}

.channelSubscribeBtn {
    width: 110px;
    height: 35px;
    border-radius: 2rem;
    background-color: black;
    margin-left: 1rem;
    color: white;   
    font-weight: bold;
}

.menuContainer {
    background-color: aquamarine;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.likeBtn {
    width: 100px;
    height: 30px;
    border-radius: 12px 0 0 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dislikeBtn {
    border-left: 1px solid grey;
    width: 50px;
    height: 30px;
    border-radius: 0 12px 12px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.descriptionContainer {
    width: 100%;
    height: 50px;
    background-color: grey;
    margin: 1rem 0;
}

.descriptionContainer:hover {
    background-color: rgb(71, 69, 69);
}

.viewHour {
    font-weight: bold;
    font-size: 0.9rem;
}

.description {
    font-weight: lighter;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
}

.showMore {
    font-weight: bold;
    background-color: transparent;
}

.comments {
    width: 100%;
    background-color: orange;
}

.commentsInfo::after {
    content: "";
    display:block;
    position: relative;
    height: 2px;
    width: 98%;
    left:50%;
    transform: translateX(-50%);
    background-color: grey;
}

.sideBar {
    width: 380px;
    background-color: orchid;
    overflow-y: auto;
}

.sideBarTitle {
    background-color: aqua;
    top:0px;
    font-weight: bold;
    font-size: 1.3rem;
}
