.sideBar {
    height: 756px;
    border: 2px solid var(--color-accent);
    border-radius: 8px;
    overflow-y: auto;
    /* border: 2px solid var(--color-accent);
    border-radius: 8px;
    grid-area: b; 
    flex-shrink: 0; */
}

.response {
    width: 100%;
    height: 470px;
}

.sideBarTitle {
    top:0px;
    font-weight: bold;
    font-size: 1.3rem;
    padding-left: 1rem;
    text-align: center;
}

