.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.videoCards {
    width: 850px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 850px) {
    .videoCards {
        width:100%;
    }
}

