.comments {
    width: 100%;
}
.commentsInfo::after {
    content: "";
    display:block;
    position: relative;
    height: 2px;
    width: 98%;
    left:50%;
    transform: translateX(-50%);
    background-color: grey;
}

.renderer{
    margin-top: 1rem;
    width: 100%;
    height: 50px;
    background-color: antiquewhite;
    display: flex;
}
