.sideBar {
    transform: translateX(-60px);
    background-color: var(--color-bg);
    transition: transform 300ms ease-in;
    width: 0;
}

.sideBarOn {
    transform: translateX(0px);
    width: 60px;
}

.btnContainer {
    width: 60px;
    position:sticky;
    top:48px;
    height: 100vh;
    background-color: var(--color-bg);
}





