.sideBar {
    width: 60px;
    height: 100%;
    background-color: rgb(106, 218, 218);
    padding:0.1rem;
    transform: translateX(-60px);
    transition: all 250ms ease-in;
    width: 0;
}

.sideBarOn {
    transform: translateX(0px);
    width: 60px;
}




