.videoCard {
    background-color: orange;
    display: flex;
    margin: 1rem 1rem;
}

.videoImg {
    background-color: blue;
    width: 350px;
    height: 220px;
    object-fit: cover;
}

.videoDetails {
    background-color: pink;
    width: 700px;
    height: 220px;
    padding: 1.5rem 1rem;
}

.title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.5rem;
    font-weight: bold;
}

.viewHour {
    font-size: 0.8rem;
    font-weight: lighter;
}

.channelConatiner {
    display: flex;
    align-items: center;
}

.channelLogo {
    background-color: aqua;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.channelTitle {
    padding-left: 0.5rem;
    font-size: 0.9rem;
}

.detail {
    margin-top:1rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
    max-width: 550px;
    max-height: 50px;
    font-size: 0.9rem;
    font-weight: lighter;
}